<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>充值记录列表</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="http://lib.sinaapp.com/js/jquery-ui/1.9.2/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery-ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="Public/Home/Js/global.js"></script> 
</head>
<body>
<div class="panel panel-danger" style="margin:50px auto;min-width:1000px;width:90%;">
    <form method="post" action="{:U('Home/Reg/ip_query')}">
    <div class="panel-heading">
        <label>封IP</label>&nbsp;&nbsp;<br/>
        <label>区服:</label>
        {$server_html}
        <label>ip地址:</label>
        <input type="text" value="{$ip}" id="ip" name="ip" style="width:300px;margin:0 auto;">
        <input type="button" value="封IP" class="iplock"/>
        <span>*可输入多个ip，以英文逗号","分割</span>
    </div>
    </form>
    <div class="panel-body">
        <table class="table table-bordered" style="text-align:center;vertical-align:middle;">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    
</div>
<script>
	$(document).ready(function(){
		$(".iplock").click(function(){
			var url = "{:U('Player/iplock')}";
			var autoid = $("#autoid").val();
			var ip = $("#ip").val();
			if(autoid == 0){
				alert('请选择服务器！');
				return false;
			}
			if(ip == ""){
				alert('IP不能为空!');
				return false;
			}
			$.post(url,{autoid:autoid,ip:ip},function(data){
                console.log(data);
				if(data == 0){
                    alert('封禁成功！');
                }
			})
		})
	})
</script>
</body>
</html>
