<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>每小时在线</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="http://lib.sinaapp.com/js/jquery-ui/1.9.2/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery-ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="Public/Home/Js/global.js"></script>
    <style>
        body{
            font-family: '微软雅黑';
        }
    </style>
</head>
<body>
<div class="panel panel-danger" style="margin:50px auto;min-width:1000px;width:90%;">
    <div class="panel-heading">
        <label>充值日志</label>
        <br/><br/>
       <span>请选择查询日期：</span> <input class="datepicker" type="input" id="date" value="{$datetime}">
       <span>请选择服务器：</span> {$server_html}<br/><br/>
        <p>充值总额：{$summoney / 10}元&nbsp;&nbsp;&nbsp;共{$count}笔交易</p>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped" style="text-align:center;vertical-align:middle;">
            <thead>
                <tr align="center">
                	<td>id</td>
                	<td>角色id</td>
                	<td>角色名</td>
                	<td>账号</td>
                	<td>充值时间</td>
                	<td>元宝数量</td>
                	<td>订单号</td>
                	<td>ip</td>
                	<td>来源</td>
                	<td>额外元宝</td>
                </tr>
            </thead>
            <tbody>
            	<volist name="pay" id="vo">
            		<tr align="center">
						<td>{$vo.id}</td>
						<td>{$vo.characterid}</td>
						<td>{$vo.name}</td>
						<td>{$vo.account}</td>
						<td>{$vo.m_chargetime|date="Y-m-d H:i:s",###}</td>
						<td>{$vo.m_emoney}</td>
						<td>{$vo.m_billno}</td>
						<td>{$vo.ip}</td>
						<td>{$vo.source}</td>
						<td>{$vo.extra_money}</td>
					</tr>
            	</volist>
            </tbody>
        </table>
    </div>
</div>
<form action="{:U('Test/test1')}" method="post" name="form1" id="form1" style="display:none;">
	<input type="hidden" id="dateinput" name="dateinput2222"/>
    <input type="hidden" id="autoidinput" name="autoid"/>
</form>
<script>
	$(document).ready(function(){
		$("#date").change(function(){
			var date = parseInt((new Date($(this).val() + ' 00:00:00')) / 1000);
			$("#dateinput").val(date);
            $("#autoidinput").val($("#autoid").val());
			form1.submit();
		});
        $("#autoid").change(function(){
            var date = parseInt((new Date($("#date").val() + ' 00:00:00')) / 1000);
            $("#dateinput").val(date);
            $("#autoidinput").val($("#autoid").val());
            form1.submit();
        })
        var selectid = "{$selectautoid}";
        $("#autoid option").css('selected',0);
        $("#autoid option").each(function(index){
            if($(this).val() == selectid){
                $(this).css('selected',1);
            }
        })
	});
</script>
</body>
</html>
